<!DOCTYPE html>
<title>Show Result</title>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<body>
    <div class="content">
    
    <h3>{{n['search_query']}} is on frame:</h3>
    
        {% for i in n['query_results'] %}
        <img src="../{{url_for('static',filename=i['frame']+'.jpg')}}" alt="{{i['frame']}}.jpg" width="224" height="224">
        <br>
        <p>{{i['frame']}} (Confidence: {{i['certainity']}})</p>
        <br>
        {% endfor %}

    </div>
</body>
</html>